[Unit]
Description=Collect remote server status every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=remote-eink-dashboard-status.service

[Install]
WantedBy=timers.target
