<?xml version="1.0" encoding="UTF-8"?>
<extension>
  <information>
    <name>Remote E-Ink Dashboard</name>
    <version>0.1.0</version>
    <author>Remote E-Ink Dashboard contributors</author>
    <id>RemoteEinkDashboard</id>
  </information>
  <menus>
    <menu type="json" dynamic="true">menu.json</menu>
  </menus>
</extension>
